.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.App-link {
  color: black;
  font-size: small;
  text-decoration: none;
}
